26-1_julia_zemlyanskaya_hw_1.py
26-1_julia_zemlyanskaya_hw_2.py
26-1_julia_zemlyanskaya_hw_2-1.py
26-1_julia_zemlyanskaya_hw_3.1.py
26-1_julia_zemlyanskaya_hw_3.py
julia.py
julia_26-1_2hw.py
julia_26-1_3hw.py
julia_26-1_4hw.py
julia_26-1_5hw.py
julia_26-1_6hw.py
julia_26-1_8hw.py
julia_26-1_hw.py
lesson-2.py
lesson_1_.py
lesson_1_1.py
lesson_3_1.py
lesson_4_1.py
lesson_8_1.py
lesson_9.py
26-1_julia_zemlyanskaya_hw_5.py
venv
.idea
pycache
Main
